.transition, p, div#form, ul li i:before, ul li i:after {
    transition: all 0.25s ease-in-out;
}

.no-select, h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

body {
    min-height: 0;
    padding: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 200px;
}

.slogan {
    width: 240px;
    margin-top: 30px;
    margin-bottom: 40px;
}

@media (min-width: 400px) {
    .slogan {
        width: 300px;
    }
}

@media (min-width: 550px) {
    .slogan {
        width: 500px;
    }
}

@media (min-width: 750px) {
    .slogan {
        width: 600px;
    }
}

h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
    text-align: center;
}

p {
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 18px;
    z-index: 2;
}

div#form {
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 18px;
    margin-bottom: 25px;
    z-index: 2;
}

ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
}

ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #e0e0e0;
}

.noborder {
    border: none;
}

.footer {
    text-align: center;
    color: #BDBDBD;
}

.footer p {
    margin-bottom: 0px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

ul li:nth-of-type(1) {
    animation-delay: 0.5s;
}

ul li:nth-of-type(2) {
    animation-delay: 0.75s;
}

ul li:nth-of-type(3) {
    animation-delay: 1s;
}

ul li:last-of-type {
    padding-bottom: 0;
}

ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 9px;
}

ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

ul li input[type=checkbox]:checked ~ div#form {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}

ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}
